.loader {
  border: 20px solid #ff81d0;
  border-top: 20px solid #400036;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  border: 2px solid #c2027c;
  padding: 1rem;
  color: #c2027c;
  background-color: #f1cce4;
  width: 300px;
  text-align: center;
}
